// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// ハンバーガーメニューのカスタマイズ
.navbar-dark .navbar-toggler {
    color: #ffffff;
    border-color: #ffffff;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// テーブルのレコード部分をスクロール可能にする
.table-fixed {
    tbody {
        overflow-y: auto !important;
        height: auto;
        width: 100%;
    }
    thead,tbody,tr,td,th{
      display:block;
    }
}

//bootstrapのボタン押下時の枠線を消す
*:focus {
  outline: none !important;
  box-shadow:none !important;
}
